html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.mapbox-map, .globe {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
.hidden {
  display: none;
}

@keyframes zoomIn {
  0% {
    opacity: 1;
    transform: perspective(500px) translateZ(0);
  }
  99% {
    opacity: 0;
    transform: perspective(500px) translateZ(500px);
  }
  100% {
    display: none;
  }
}
