<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' /> -->
</head>
<body>
  <div id="mapbox-map" class="mapbox-map hidden"></div>
  <canvas id="globe" class="globe"></canvas>
</body>
</html>